In [2]:
# basic data structures
import numpy as np
import pandas as pd
# keras
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
# parquet data structure
import pyarrow as pa
import pyarrow.parquet as pq

In [3]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
dat = pq.read_table(".././data/bikeshare-data.parquet")

In [8]:
bikedata = dat.to_pandas()

In [10]:
bikedata.head(10)

,trip_date,trip_count,total_seconds,AWND,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN
0,2018-01-01,1099,1057878.0,11.63,0.00,0.0,0.0,19.0,26,13
1,2018-01-02,3796,2840648.0,7.83,0.00,0.0,0.0,18.0,26,13
2,2018-01-03,4742,3342920.0,3.80,0.00,0.0,0.0,23.0,35,13
3,2018-01-04,2359,1373034.0,19.91,0.10,0.8,1.2,26.0,27,16
4,2018-01-05,2735,1643926.0,15.66,0.00,0.0,1.2,17.0,21,13
5,2018-01-06,1510,965617.0,13.42,0.00,0.0,0.0,15.0,21,11
6,2018-01-07,1719,1153907.0,8.95,0.00,0.0,0.0,15.0,23,8
7,2018-01-08,4099,2725381.0,8.50,0.06,0.0,0.0,25.0,39,19
8,2018-01-09,6119,4649579.0,5.37,0.00,0.0,0.0,38.0,51,30
9,2018-01-10,7109,5293373.0,3.36,0.00,0.0,0.0,36.0,43,27

In [12]:
bikedata['avg_trip_sec'] = bikedata.total_seconds / bikedata.trip_count
bikedata[['trip_date', 'avg_trip_sec']].head()

    trip_date  avg_trip_sec
0  2018-01-01    962.582348
1  2018-01-02    748.326660
2  2018-01-03    704.959933
3  2018-01-04    582.040695
4  2018-01-05    601.069835